<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @performance.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @performance.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @performance.location %>
</p>

<p>
  <strong>Show:</strong>
  <%= @performance.show %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
